.button{
    display: inline-flex;
    height: 50px;
    width: 50px;
    border: 2px black solid;
}
#grey{
    background-color: grey;
    
}
#white{
    background-color:white;
    
}
#blue{
    background-color:blue;

}
#yellow{
    background-color: yellow;
  
}